{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Hotelera</title>
    <link rel="stylesheet" href="{% static 'habitaciones/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}"><img src="{% static 'habitaciones/images/logo.png' %}" class="imglogo" alt="Logo del Hotel"></a>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'habitaciones' %}">Habitaciones</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li><a href="{% url 'registro' %}">Registrarse</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    <!-- Contenido específico de cada página -->
    {% endblock content %}

    <footer>
        <p>© 2024 Hotel Reserva. Todos los derechos reservados.</p>
    </footer>
</body>
</html>