{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner de Bienvenida -->
<section id="welcome-banner">
    
    <h1>Habitaciones</h1>
    
</section>

<section id="available-rooms">
    <h2>Habitaciones Disponibles</h2>
    <div class="rooms">
        {% for habitacion in habitaciones %}
        <div class="room">
            <img src="{% static 'habitaciones/images/default-room.jpg' %}" alt="Foto de {{ habitacion.tipo }}">
            <h3>{{ habitacion.tipo }}</h3>
            <ul>
                <li>Precio: ${{ habitacion.precio }}</li>
                <li>Desayuno: {{ habitacion.desayuno_incluido|yesno:"Incluido,No incluido" }}</li>
                <li>Baño privado: {{ habitacion.bano_privado|yesno:"Sí,No" }}</li>
                <li>Admite mascotas: {{ habitacion.admite_mascotas|yesno:"Sí,No" }}</li>
                <li>Vistas: {{ habitacion.vista }}</li>
            </ul>
            <button>Reservar</button>
        </div>
        {% empty %}
        <p>No hay habitaciones disponibles en este momento.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}