{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Incluir Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
 <!-- Flatpickr CSS para el calendario -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

 <!-- Incluir jQuery y Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 <!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

 <script src="{% static 'habitaciones/js/calendario.js' %}"></script>

<!-- Banner de Bienvenida -->
<section id="welcome-banner">   
    <h1>Habitaciones</h1>
</section>
    <div class="row">
        <div class="col-md-4 offset ml-5">
            <h2 class="text-center mt-4">Habitaciones Disponibles</h2>
            <div id="habitacionesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for habitacion in habitaciones %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-habitacion-id="{{ habitacion.id }}">
                        {% if habitacion.imagen %}
                            <img class="d-block w-100" src="{{ habitacion.imagen.url }}" alt="Foto de {{ habitacion.tipo }}">
                        {% else %}
                            <img class="d-block w-100" src="{% static 'habitaciones/images/habitacion1.jpg' %}" alt="Foto de {{ habitacion.tipo }}">
                        {% endif %}
                        <div class="carousel-caption-static">
                            <h5>{{ habitacion.tipo }}</h5>
                            <ul class="list-unstyled">
                                <li>Precio: ${{ habitacion.precio }}</li>
                                <li>Desayuno: {{ habitacion.desayuno_incluido|yesno:"Incluido,No incluido" }}</li>
                                <li>Baño privado: {{ habitacion.bano_privado|yesno:"Sí,No" }}</li>
                                <li>Admite mascotas: {{ habitacion.admite_mascotas|yesno:"Sí,No" }}</li>
                                <li>Vistas: {{ habitacion.vista }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#habitacionesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#habitacionesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>

        <div>
        <div id="calendar-container"></div>

        <div class="col-mt-4 ml-5 mt-3">
            <!-- Formulario de filtros -->
            <form method="GET" action="">
                <div class="form-group">
                    <label for="tipo">Tipo de habitación</label>
                    <select id="tipo" name="tipo" class="form-control">
                        <option value="">Todos los tipos</option>
                        {% for tipo_disponible in tipos_disponibles %}
                            <option value="{{ tipo_disponible }}" {% if tipo_disponible == tipo %}selected{% endif %}>{{ tipo_disponible }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="capacidad">Capacidad mínima</label>
                    <select id="capacidad" name="capacidad" class="form-control">
                        <option value="">Cualquier capacidad</option>
                        {% for capacidad_disponible in capacidades_disponibles %}
                            <option value="{{ capacidad_disponible }}" {% if capacidad_disponible|stringformat:"d" == capacidad|stringformat:"d" %}selected{% endif %}>{{ capacidad_disponible }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary">Filtrar</button>
                </div>
            </form>
        </div>
        <!-- Formulario de Reserva separado -->
        <div class="text-center ml-5 my-3">
            <form action="{% url 'consultar_reserva' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="start-date" name="start_date" value="{{ fecha_inicio }}">
                <input type="hidden" id="end-date" name="end_date" value="{{ fecha_fin }}">
                <input type="hidden" name="habitacion_id" value="{{ habitacion.id }}">
                <button type="submit" class="btn btn-primary">Consultar</button>
            </form>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-12 my-3">
        <p></p>
    </div>
</div>
<script>
    // Función para cambiar el ID de la habitación cuando se navega en el carrusel
    $('#habitacionesCarousel').on('slid.bs.carousel', function (e) {
        // Obtener la habitación activa
        var activeItem = $(e.relatedTarget);
        var habitacionId = activeItem.data('habitacion-id');

        // Solo actualizar el campo oculto si habitacionId no es vacío
        if (habitacionId) {
            document.getElementsByName('habitacion_id')[0].value = habitacionId;
            console.log("Habitación seleccionada ID:", habitacionId);  // Para depuración
        } else {
            console.log("No hay habitación seleccionada.");  // Para depuración
        }
    });
</script>
{% endblock %}